# Documentation dependencies
ansys-sphinx-theme==1.3.3
myst-parser==4.0.1
sphinx_design==0.6.1
sphinx==8.2.3
sphinx-autobuild==2024.10.3
sphinx-autodoc-typehints==3.1.0
sphinxcontrib-websupport==2.0.0
sphinx-copybutton==0.5.2
sphinxemoji==0.3.1
sphinx-gallery==0.19.0
sphinx-notfound-page==1.1.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
jupyter_sphinx==0.5.3
jupyterlab>=3.2.8
matplotlib==3.10.1
panel==1.6.1
plotly==6.3.0
pythreejs==2.4.2
pillow==11.3.0
ipyvtklink==0.2.3
ipykernel==6.30.1
pyvista[jupyter]==0.46.3
trame-vtk!=2.8.16
