name: Geometry Mesh Workflow

on:
  workflow_dispatch:
    inputs:
      doc-build:
        required: false
        default: false
        type: boolean
        description: 'Whether to build the documentation'
  workflow_call:
    inputs:
      doc-build:
        required: false
        default: false
        type: boolean
        description: 'Whether to build the documentation'
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'geometry-mesh/**'

env:
  MAIN_PYTHON_VERSION: '3.12'
  GEOMETRY_DOCKER_IMAGE: 'ghcr.io/ansys/geometry'
  PRIME_DOCKER_IMAGE: 'ghcr.io/ansys/prime'
  ANSRV_GEO_PORT: 700
  ANSRV_GEO_LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
  PYPRIMEMESH_LAUNCH_CONTAINER: 1
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER )}}
  ANSYS_RELEASE_FOR_DOCS: 24.2
  RUN_DOC_BUILD: false

jobs:
  geometry:
    name: Geometry
    runs-on: [self-hosted, Windows, pyansys-workflows]
    strategy:
      fail-fast: false
      matrix:
        ansys-release: [24.1, 24.2]
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            geometry-mesh
            doc

      - name: Set up Python ${{ env.MAIN_PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv .venv
          .venv/Scripts/activate
          pip install -r geometry-mesh/requirements_${{ matrix.ansys-release }}.txt

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download (if needed) and run Geometry service container
        run: |
          docker pull ${{ env.GEOMETRY_DOCKER_IMAGE }}:windows-${{ matrix.ansys-release }}

      - name: Run the PyAnsys Geometry script
        env:
          ANSYS_GEOMETERY_RELEASE: ${{ env.GEOMETRY_DOCKER_IMAGE }}:windows-${{ matrix.ansys-release }}
        run: |
          .venv/Scripts/activate
          python geometry-mesh/wf_gm_01_geometry.py

      - name: Store the outputs
        uses: actions/upload-artifact@v4
        with:
          name: geometry-mesh-workflow-geometry-outputs-${{ matrix.ansys-release }}
          path: geometry-mesh/outputs

      - name: (DOCS) Check if docs should be built
        if: (github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && inputs.doc-build
        run: |
          Write-Host "Requested to build docs..."
          if ("${{ matrix.ansys-release }}" -eq $env:ANSYS_RELEASE_FOR_DOCS) {
            Write-Host "Building docs"
            echo "RUN_DOC_BUILD=true" >> $env:GITHUB_ENV
          } else {
            Write-Host "Not building docs - since not primary release"
            echo "RUN_DOC_BUILD=false" >> $env:GITHUB_ENV
          }

      - name: (DOCS) Build the documentation (only on ${{ env.ANSYS_RELEASE_FOR_DOCS}})
        if: ${{ env.RUN_DOC_BUILD == 'true' }}
        env:
          ANSYS_GEOMETRY_RELEASE: ${{ env.GEOMETRY_DOCKER_IMAGE }}:windows-${{ matrix.ansys-release }}
          BUILD_DOCS_SCRIPT: 'geometry-mesh/wf_gm_01_geometry.py'
        run: |
          .venv/Scripts/activate
          cd doc
          pip install -r requirements.txt
          ./make.bat html

      - name: (DOCS) Upload docs artifacts
        if: ${{ env.RUN_DOC_BUILD == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: geometry-mesh-docs
          path: |
            doc/_build/
            doc/source/examples/geometry-mesh/

      - name: Stop any remaining containers
        if: always()
        run: |
          $dockerContainers = docker ps -a -q
          if (-not [string]::IsNullOrEmpty($dockerContainers)) {
              docker stop $dockerContainers
              docker rm $dockerContainers
          }

  prime:
    name: Meshing
    runs-on: ubuntu-latest
    needs: geometry
    strategy:
      fail-fast: false
      matrix:
        ansys-release: [24.1, 24.2]
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            geometry-mesh
            doc

      - name: Set up Python ${{ env.MAIN_PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r geometry-mesh/requirements_${{ matrix.ansys-release }}.txt

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download PRIME service container
        run: docker pull ${{ env.PRIME_DOCKER_IMAGE }}:${{ matrix.ansys-release }}

      - name: Check out the geometry outputs
        uses: actions/download-artifact@v4
        with:
          name: geometry-mesh-workflow-geometry-outputs-${{ matrix.ansys-release }}
          path: geometry-mesh/outputs

      - name: Run the PyPrimeMesh script
        env:
          PYPRIMEMESH_IMAGE_TAG: ${{ matrix.ansys-release }}
        run: |
          python geometry-mesh/wf_gm_02_mesh.py

      - name: Store the outputs
        uses: actions/upload-artifact@v4
        with:
          name: geometry-mesh-workflow-prime-outputs-${{ matrix.ansys-release }}
          path: geometry-mesh/outputs

      - name: (DOCS) Check if docs should be built
        if: (github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && inputs.doc-build
        run: |
          echo "Requested to build docs..."
          if [ "${{ matrix.ansys-release }}" == "${{ env.ANSYS_RELEASE_FOR_DOCS }}" ]; then
            echo "Building docs"
            echo "RUN_DOC_BUILD=true" >> $GITHUB_ENV
          else
            echo "Not building docs - since not primary release"
            echo "RUN_DOC_BUILD=false" >> $GITHUB_ENV
          fi

      - name: (DOCS) Download the docs artifacts
        uses: actions/download-artifact@v4
        if: ${{ env.RUN_DOC_BUILD == 'true' }}
        with:
          name: geometry-mesh-docs
          path: doc

      - name: (DOCS) Setup headless display
        if: ${{ env.RUN_DOC_BUILD == 'true' }}
        uses: pyvista/setup-headless-display-action@v2

      - name: (DOCS) Build the documentation (only on ${{ env.ANSYS_RELEASE_FOR_DOCS}})
        if: ${{ env.RUN_DOC_BUILD == 'true' }}
        env:
          PYPRIMEMESH_IMAGE_TAG: ${{ matrix.ansys-release }}
          BUILD_DOCS_SCRIPT: 'geometry-mesh/wf_gm_02_mesh.py'
        run: |
          cd doc
          find . -type f -exec sed -i 's|C:\\Users\\ansys\\actions-runner\\_work\\pyansys-workflows\\pyansys-workflows\\doc\\source\\examples/geometry-mesh\\images\\|./images/|g' {} +
          pip install -r requirements.txt
          make html

      - name: (DOCS) Upload docs artifacts
        if: ${{ env.RUN_DOC_BUILD == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: geometry-mesh-docs
          path: |
            doc/_build/
            doc/source/examples/geometry-mesh/
          overwrite: true
