name: Geometry Mesh Fluent Workflow

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'geometry-mesh-fluent/**'

env:
  MAIN_PYTHON_VERSION: '3.11'
  GEOMETRY_DOCKER_IMAGE: 'ghcr.io/ansys/geometry'
  FLUENT_DOCKER_IMAGE: 'ghcr.io/ansys/pyfluent'
  ANSRV_GEO_PORT: 700
  ANSRV_GEO_LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER )}}
  PYANSYS_WORKFLOWS_CI: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  geometry:
    name: Geometry
    runs-on: [self-hosted, Windows, pyansys-workflows]
    strategy:
      fail-fast: false
      matrix:
        ansys-release: [24.1, 24.2]
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: 'geometry-mesh-fluent'

      - name: Set up Python ${{ env.MAIN_PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv .venv
          .venv/Scripts/activate
          pip install -r geometry-mesh-fluent/requirements_${{ matrix.ansys-release }}.txt

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download (if needed) and run Geometry service container
        run: |
          docker pull ${{ env.GEOMETRY_DOCKER_IMAGE }}:windows-${{ matrix.ansys-release }}

      - name: Run the PyAnsys Geometry script
        env:
          ANSYS_GEOMETRY_RELEASE: ${{ env.GEOMETRY_DOCKER_IMAGE }}:windows-${{ matrix.ansys-release }}
        run: |
          .venv/Scripts/activate
          python geometry-mesh-fluent/01_geometry.py

      - name: Store the outputs
        uses: actions/upload-artifact@v4
        with:
          name: geometry-outputs-${{ matrix.ansys-release }}
          path: geometry-mesh-fluent/outputs

      - name: Stop any remaining containers
        if: always()
        run: |
          $dockerContainers = docker ps -a -q
          if (-not [string]::IsNullOrEmpty($dockerContainers)) {
              docker stop $dockerContainers
              docker rm $dockerContainers
          }

  fluent-mesh:
    name: Fluent Meshing
    runs-on: ubuntu-latest-4-cores
    needs: geometry
    strategy:
      fail-fast: false
      matrix:
        ansys-release: [24.1, 24.2]
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: 'geometry-mesh-fluent'

      - name: Set up Python ${{ env.MAIN_PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r geometry-mesh-fluent/requirements_${{ matrix.ansys-release }}.txt

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Fluent service container
        run: docker pull ${{ env.FLUENT_DOCKER_IMAGE }}:v${{ matrix.ansys-release }}.0

      - name: Check out the geometry outputs
        uses: actions/download-artifact@v4
        with:
          name: geometry-outputs-${{ matrix.ansys-release }}
          path: geometry-mesh-fluent/outputs

      - name: Run the Fluent meshing script
        env:
          FLUENT_IMAGE_TAG: v${{ matrix.ansys-release }}.0
        run: |
          python geometry-mesh-fluent/02_fluent_meshing.py

      - name: Store the outputs
        uses: actions/upload-artifact@v4
        with:
          name: fluent-mesh-outputs-${{ matrix.ansys-release }}
          path: |
            geometry-mesh-fluent/outputs/NACA_Airfoil_*.pmdb
            geometry-mesh-fluent/outputs/NACA_Airfoil_*.msh.h5

  fluent-solve:
    name: Fluent Solver
    runs-on: ubuntu-latest-8-cores # Potential memory issues with 24.1 otherwise
    needs: fluent-mesh
    strategy:
      fail-fast: false
      matrix:
        ansys-release: [24.1, 24.2]
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: 'geometry-mesh-fluent'

      - name: Set up Python ${{ env.MAIN_PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r geometry-mesh-fluent/requirements_${{ matrix.ansys-release }}.txt

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Fluent service container
        run: docker pull ${{ env.FLUENT_DOCKER_IMAGE }}:v${{ matrix.ansys-release }}.0

      - name: Check out the meshing outputs
        uses: actions/download-artifact@v4
        with:
          name: fluent-mesh-outputs-${{ matrix.ansys-release }}
          path: geometry-mesh-fluent/outputs

      - name: Run the Fluent solver script
        env:
          FLUENT_IMAGE_TAG: v${{ matrix.ansys-release }}.0
        run: |
          python geometry-mesh-fluent/03_fluent_solver.py

      - name: Store the outputs
        uses: actions/upload-artifact@v4
        with:
          name: fluent-solve-outputs-${{ matrix.ansys-release }}
          path: |
            geometry-mesh-fluent/outputs/NACA_Airfoil_*.pmdb
            geometry-mesh-fluent/outputs/NACA_Airfoil_*.msh.h5
            geometry-mesh-fluent/outputs/NACA_Airfoil_*.cas.h5
            geometry-mesh-fluent/outputs/NACA_Airfoil_*.dat.h5
