name: MAPDL-DPF Workflow

on:
  workflow_dispatch:
    inputs:
      doc-build:
        required: false
        default: false
        type: boolean
        description: 'Whether to build the documentation'
  workflow_call:
    inputs:
      doc-build:
        required: false
        default: false
        type: boolean
        description: 'Whether to build the documentation'
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'mapdl-dpf/**'

env:
  MAIN_PYTHON_VERSION: '3.12'
  MAPDL_DOCKER_IMAGE: 'ghcr.io/ansys/mapdl'
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER )}}
  PYANSYS_WORKFLOWS_CI: true
  ANSYS_RELEASE_FOR_DOCS: 25.1
  RUN_DOC_BUILD: false
  DPF_PORT: 21002
  DPF_START_SERVER: False
  MAPDL_IMAGE_VERSION_DOCS_BUILD: v24.2-ubuntu

jobs:
  mapdl-dpf:
    name: MAPDL-DPF
    runs-on: public-ubuntu-latest-8-cores
    strategy:
      fail-fast: false
      matrix:
        ansys-release: [24.1, 24.2, 25.1]
    env:
      PYMAPDL_PORT: 21000  # default won't work on GitHub runners
      PYMAPDL_DB_PORT: 21001  # default won't work on GitHub runners
      PYMAPDL_START_INSTANCE: FALSE
      ON_DOCUMENTATION: TRUE

    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            mapdl-dpf
            doc

      - name: Set up Python ${{ env.MAIN_PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r mapdl-dpf/requirements_${{ matrix.ansys-release }}.txt

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Pull, launch, and validate MAPDL service"
        id: start_mapdl
        env:
          LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
          MAPDL_VERSION: ${{ env.MAPDL_IMAGE_VERSION_DOCS_BUILD }}
          DISTRIBUTED_MODE: "dmp"
        run: |
          export INSTANCE_NAME=MAPDL_0
          .ci/start_mapdl.sh & export DOCKER_PID=$!
          echo "Launching MAPDL service at PID: $DOCKER_PID"
          echo "DOCKER_PID=$(echo $DOCKER_PID)" >> $GITHUB_OUTPUT
      - name: "DPF Server Activation"
        run: |
          $(docker pull ghcr.io/ansys/dpf-core:22.2dev && docker run -d --name dpfserver -p ${{ env.DPF_PORT }}:50052 ghcr.io/ansys/dpf-core:22.2dev && echo "DPF Server active on port ${{ env.DPF_PORT }}.") &

      - name: "Test virtual framebuffer"
        run: |
          xvfb-run python .ci/display_test.py

      - name: "Retrieve PyMAPDL version"
        id: version
        run: |
          echo "PYMAPDL_VERSION=$(python -c 'from ansys.mapdl.core import __version__; print(__version__)')" >> $GITHUB_OUTPUT
          echo "PyMAPDL version is: $(python -c "from ansys.mapdl.core import __version__; print(__version__)")"

      - name: "Waiting for the services to be up"
        timeout-minutes: 15
        run: |
          .ci/waiting_services.sh

      - name: Run the MAPDL-DPF script
        env:
          LIBGL_ALWAYS_SOFTWARE: 1
          PYANSYS_VISUALIZER_HTML_BACKEND: true
        run: |
          python mapdl-dpf/wf_mapdl-dpf.py

      - name: Stop all containers (if any)
        run: |
          if [ -n "$(docker ps -a -q)" ]; then
              docker rm -f $(docker ps -a -q)
          fi

      - name: (DOCS) Check if docs should be built
        if: (github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && inputs.doc-build
        run: |
          echo "Requested to build docs..."
          if [ "${{ matrix.ansys-release }}" == "${{ env.ANSYS_RELEASE_FOR_DOCS }}" ]; then
            echo "Building docs"
            echo "RUN_DOC_BUILD=true" >> $GITHUB_ENV
          else
            echo "Not building docs - since not primary release"
            echo "RUN_DOC_BUILD=false" >> $GITHUB_ENV
          fi

      - name: (DOCS) Build the documentation (only on ${{ env.ANSYS_RELEASE_FOR_DOCS}})
        if: ${{ env.RUN_DOC_BUILD == 'true' }}
        env:
          BUILD_DOCS_SCRIPT: 'mapdl-dpf/wf_mapdl-dpf.py'
        run: |
          cd doc
          pip install -r requirements.txt
          xvfb-run make html

      - name: (DOCS) Upload docs artifacts
        if: ${{ env.RUN_DOC_BUILD == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: mapdl-dpf-docs-stage-mapdl
          path: |
            doc/_build/
            doc/source/examples/mapdl-dpf/
          overwrite: true
